@use '../../index' as *;



.ec-product {
    max-width: 304px;
    max-height: 500px;
    display: flex;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.22);
}



.ec-product-box {
    width: 304px;
    align-content: center;
    max-height: 500px;
    margin-top: 17px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*Card elementos*/
.ec-product-el{
    padding-left: 12px;
}


.ec-product-img {
    align-content: center;
    padding-left:12.39px;
    padding-right: 13.51;



}

.ec-product-dsc {
    color: $ec-color-font-preto;
    width: 275.852px;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 12px;
}

.ec-product-lp {
    color: $ec-color-font-cinza;
    width: 75.437px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;
    margin-bottom: 2px;
}

.ec-product-p {
    color: $ec-color-font-preto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2px;

}

.ec-product-fees {
    color: $ec-color-font-preto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 7px;
}

.ec-product-dl {
    color: $ec-color-font-azul;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px
}

.ec-button-primary{
    align-content: center;
}

.ec-button-primary button {
    width: 275.852px;
    height: 44px;
    border-radius: 4px;
    background: var(--Azul, #3442B5);
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: $ec-color-font-branca;
    text-transform: uppercase;
}