@use '../../index' as *;


.ec-hero-button {
    width: 206px;
    margin-top: 1rem;
    height: 50px;
    display: flex;
    border: none;
    border-radius: 8px;

    background: $ec-color-font-amarelo;
    color: $ec-color-font-azul-escuro;
    font-weight: 600;
    font-size: 16px;

    padding: 7px 49px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    cursor: pointer;
}