@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


//Variaveis
$ec-color-bg-branco: #fff;

$ec-color-searchbar-cinza: #F6F5F2;

$ec-color-button-azul: #3442B5;
$ec-color-button-amarelo: #F7CA11;

$ec-color-font-cinza-medio: #9F9F9F;
$ec-color-font-cinza-escuro: #3F3F40;
$ec-color-font-preto:#4E4E4E;
$ec-color-font-azul: #3442B5;
$ec-color-font-azul-escuro:#271C47;
$ec-color-font-branca: #fff;
$ec-color-font-amarelo: #F7CA11;

$ec-color-border-cinza-claro: #f0f0f0;

//Reset e

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

html,
body {
  background-color: $ec-color-bg-branco;
  color: unset;
}

/*generico*/
.ec-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}