@use '../../index' as *;

.ec-partners-box{
    display: flex;
    width:100%;
    justify-content: center;
    gap:8px;
}
.ec-partners {
    width: 634px;
    height: 350px;
    background-image: url(../../assets/background.jpg);
    display: flex;
    margin-bottom: 90px;
}

.ec-partners-text {
    width: 634px;
    align-content: center;
    justify-content: center;
    padding-left: 44px;
    margin-top: 114px;
    margin-bottom: 40px;
    color: $ec-color-font-branca;

}

.ec-partners-text-title {
    width: 212px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ec-partners-text-subtitle {
    width: 199.92px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
