@use '../../index' as *;

.ec-newsletter-form-button {
    width: 157px;
    height: 42px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: $ec-color-button-amarelo;

    color: #161615;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    margin-right: 10px;
}