@use '../../index' as *;

.ec-relate-product{
    justify-content: center;
}

.ec-relate-cards {
    width: 100vw;
    height: 510px;
    align-items: center;
    justify-content: space-between;
    display: flex;
 
}

.ec-relate-products-title {
    display: flex;
    justify-content: center;
    gap: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $ec-color-font-azul;
    margin-bottom: 8px;
}