@use '../../index' as *;

.ec-category-card {
    display: inline-flex;
    align-items: center;
    gap: 42px;

    margin-top: 40px;
}

.ec-card-content p{
    font-size: 14px;
    text-align: center;
    margin-top: 22px;
    color: $ec-color-font-preto;
}


.ec-card-buying {
    width: 128px;
    height: 128px;
    flex-shrink: 0;
    box-sizing: border-box;

    display: flex; /* torna container flexível */
    align-items: center; /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */

    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.22);
}

.ec-card-buying img {
    width: 61px;
    height: 61px;
}
