.background{
    position:fixed;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    background-color: black;
}

.modal{
    position: fixed;
    top: 50px;
    left:50%;
    transform: translate(-50%,50%);
    background-color: white;
    color:black;
    padding:4px;
    border-radius:8px ;
}